*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  background-color: aliceblue;
  min-height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: max-content 1fr;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 1rem 2rem 2rem 2rem;
}
.menu{
  width: 100%;

  border-radius: 20px;
  margin-bottom: 1rem;
}
.menu > h3{
  display: inline-block;
  padding: 1rem;
  color: #424242;
  font-weight: 400;
  font-size: 26px;
  border-radius: 10px;
}
.menu > h3:hover{
  background-color: rgb(194, 226, 255);
  cursor: pointer;
  color: white;
}
.content{
  background-color: white;
  height: 100%;
  width: 100%;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  border-radius: 20px;

}
h1{
padding: 1rem;
  color: #424242;
}