@import '~antd/dist/antd.css';
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  list-style: none;
  color: #878f96;
}
.container{
  background-color: #EAEAEF;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;

  font-size: calc(10px + 2vmin);
  color: white;


}
.layer{
  backdrop-filter: blur( 25.0px );
  padding: 4rem 4rem;
  min-height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
}
.menu{
padding: 1rem;
}
.menu li{
  font-size: 20px;
  padding: .5rem 0 .5rem 2rem;
}

.menu-item p{
padding-left: .5rem;
  display: inline;
  vertical-align: middle;
}
.menu li:hover{
  background-color: #E4E7F5;
  cursor: pointer;
  border-radius: 5px;
  color: #707FDD;
  box-shadow:  20px 10px 40px #c4d3d5,
             -20px -10px 40px #f8f8f8;
}
.menu li svg{
  width: 30px;
  display: inline;
  vertical-align: middle;
}
.menu li:hover svg{
  fill: #707FDD;
}
.menu-label{
  padding-left: 1.5rem;
  font-size: 15px;
  font-weight: 400;
}
.content{
  max-width: 1920px;
  background-color: white;
  height: 100%;
  width: 100%;
  box-shadow: 0 1px 12px rgba(0,0,0,0.01), 0 1px 12px rgba(0,0,0,0.01);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 100px 1fr;
  border-radius: 25px;
  background: #FFFFFF;
box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.07);
backdrop-filter: blur( 30.0px );
-webkit-backdrop-filter: blur( 13.0px );

}
h1{
padding: 1rem;
  color: #424242;
}
.header{
  color: white;
  background-color: #707FDD;
}
.sidebar{
  grid-column: 1;
  background: rgba( 255, 255, 255, 0.50 );

  border-radius: 25px 0 0 25px;
  width: 280px;
  
}
.logo{
  width: 300px;
  background-color: #707FDD;
  color: white;
  font-weight: 500;
  text-align: center;
  font-size: 30px;
}
.component-container{
  padding: 2rem;
  display: grid;
  grid-template-columns: 66% 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 2rem;
}
.chart{
  width: 100%;
  height: 600px;
  font-size: 12px;
  color: white;
 padding: 2rem;
  background-color: white;
  border-radius: 25px;
}
.data-card{
  font-size: 70px;
  font-weight: 500;
  background-color: #5A67BA;
  width: max-content;
  padding: 1rem;
  min-width: 200px;
  width: 100%;
  height: 200px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
}
.data-container{
  grid-gap: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content max-content;
}
.data-container > div > p{
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: #212121;
  margin: 0;
  padding-bottom: .25rem;
}